@import "~antd/dist/antd.css";
@font-face {
  font-family: "Cookie";
  src: url("/Assets/fonts/Cookie/Cookie-Regular.ttf") format("ttf");
}
body {
  margin: 0;
  font-size: 16px;
  font-family: "Port Lligat Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
